nav {
  background-color: var(--BLue);
  overflow-x: scroll;
  padding: 0px;
}

nav::-webkit-scrollbar {
  height: 0px;
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
nav ul li {
  display: flex;
  align-items: center;
  list-style: none;
  color: var(--white);
  padding: 0.5rem 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  min-width: fit-content;
}
nav ul li fa-icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}
nav ul li a {
  color: var(--white);
  text-decoration: none;
}
