header {
  position: sticky;
  top: 0px;
  background-color: var(--DarkBlue);
  color: var(--white);
  padding: 0.6rem;
  z-index: 10;
}

header .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}

header .row .left {
  flex: 0.6;
}

header .row .middel {
  flex: 2.5;
}

header .row .right {
  flex: 1;
}

/* responsive */

@media (max-width:900px) {
  header .row {
    flex-direction: column;
  }

  header .row .left {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header .row .middel {
    order: 3;
    flex: 0;
    margin-top: 0.8rem;
  }

  header .row .right {
    display: none;
    order: 2;
  }
}

@media (max-width:1492px) {
  header .row .middel {
    flex: 2.2;
  }
}

@media (max-width:1385px) {
  header .row .middel {
    flex: 2;
  }
}

@media (max-width:1315px) {
  header .row .middel {
    flex: 1.5;
  }
}

@media (max-width:1139px) {
  header .row .middel {
    flex: 1;
  }
}

@media (max-width:962px) {
  header .row .middel {
    flex: 0.6;
  }
}
