.product-container {
  display: flex;
  gap: 1rem;
}
.select-product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height:25rem;
  min-width: 17vw;
  overflow-y: scroll;
  padding: 1rem 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 1.2rem 0px;
}

.select-product::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.product-section {
  width: 100vw;
  margin: 1.2rem 0px;
}

/* responsive */

@media (max-width: 940px) {
  .select-product {
    display: none;
  }
}
