<section>
  <app-slider></app-slider>

  <div class="cards">
    <div class="card" *ngFor="let offer of offers">
      <h3>{{offer.title}}</h3>
      <div class="data">
        <figure *ngFor="let item of offer.items">
          <img src={{item.image}} alt="">
          <figcaption>{{item.name}}</figcaption>
        </figure>
      </div>
      <a href="#">See more</a>
    </div>
  </div>

  <div class="slider">
    <div class="info">
      <h3>Best Sellers in Clothing & Accessories</h3>
      <swiper-container class="mySwiper" space-between="30" navigation="true" slides-per-view="auto" free-mode="true">
        <swiper-slide *ngFor="let image of Bestsellerclothing">
          <img src={{image}} alt="{{image}}">
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let offer of Bestseller">
      <h3>{{offer.title}}</h3>
      <div class="data">
        <figure *ngFor="let item of offer.items">
          <img src={{item.image}} alt="">
          <figcaption>{{item.name}}</figcaption>
        </figure>
      </div>
      <a href="#">See more</a>
    </div>
  </div>

  <div class="slider">
    <div class="info">
      <h3>Min. 50% off | Unique kitchen finds | Amazon Brands & more</h3>
      <swiper-container class="mySwiper" space-between="30" navigation="true" slides-per-view="auto" free-mode="true">
      <swiper-slide *ngFor="let image of KitchenTools">
        <img src={{image}} alt="{{image}}">
      </swiper-slide>
    </swiper-container>
    </div>
  </div>
</section>
