<swiper-container class="mySwiper" navigation="true">
  <swiper-slide>
    <img src="/assets/images/slider-image/slider01.jpeg" alt="">
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/slider-image/slider02.jpeg" alt="">
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/slider-image/slider03.jpeg" alt="">
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/slider-image/slider04.jpeg" alt="">
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/slider-image/slider05.jpeg" alt="">
    <div class="gradient-overlay"></div>
  </swiper-slide>
  <swiper-slide>
    <img src="/assets/images/slider-image/slider06.jpeg" alt="">
    <div class="gradient-overlay"></div>
  </swiper-slide>
</swiper-container>
