<h1>Delivery Day</h1>
<div class="radio">
  <input type="radio">
  <p>Get It in 2 Days</p>
</div>
<h1>Customer Reviews</h1>
<div class="rate-first">
  <app-star-rating [rating]="rating"></app-star-rating>
  <p>&UP</p>
</div>
<div class="brand-filter">
  <h1>Brands</h1>
  <div *ngFor="let category of categories">
    <label for="{{category}}" class="radio-container">
      <input type="radio" [value]="category" name="category" (change)="filterProducts(categoryInput)" #categoryInput
        id="{{category}}" />
      <span class="radio-checkmark"></span>
      {{category}}
    </label>
  </div>
</div>
<!-- <div class="price-filter">
  <h1>Price Range</h1>
  <label>
    <input type="radio" name="price" value="all" (change)="filterProductsprice(allprice)" checked #allprice/>
    All
  </label>

  <label>
    <input type="radio" name="price" value="under-20" (change)="filterProductsprice(under20)" #under20/>
    Under $20
  </label>

  <label>
    <input type="radio" name="price" value="20-50" (change)="filterProductsprice(between20and50)" #between20and50/>
    $20 - $50
  </label>

  <label>
    <input type="radio" name="price" value="50-above" (change)="filterProductsprice(above50)" #above50/>
    $50 and above
  </label>
</div> -->
