<div class="row">
  <div class="col">
    <img src="/assets/images/Amazon.svg" alt="">
  </div>
  <div class="info col row">
    <div class="language col">
      <fa-icon [icon]="faGlobe"></fa-icon>
      <span>English</span>
      <form action="">
        <div class="ar">
          <label for="ar">
            <input type="radio" name="lanuguage" id="ar">
            العربيه-AR
          </label>
        </div>
        <div class="en">
          <label for="en">
            <input type="radio" name="lanuguage" id="en" checked>
            English-EN
          </label>
        </div>
      </form>
    </div>
    <div class="country col">
      <img src="/assets/images/Egypt.svg" alt="">
      <span>Egypt</span>
    </div>
  </div>
</div>
