.productcontainer {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}
.product-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  margin: 20px;
}
hr {
  border: none;
  height: 2px;
  background-color: #c6c6c6;
  margin: 20px 0;
}

.small-image-container {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: 150px;
  margin-right: 50px;
}

.inner-border {
  border: 0.78px solid #ebf0f0;
  border-radius: 3.89px;
  padding: 7.77px;
  transition: border-color 0.3s;
  width: 50px;
  height: 62px;
}

.inner-border.selected {
  border-color: #1f8394;
  box-shadow: 0 0 5px rgba(0, 102, 255, 0.5);
}

.small-image {
  width: 70px;
  height: 80px;
  gap: 7.77px;
  border-radius: 3.89px;
  border: 1.55px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.77px;
}

.small-image-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product-image {
  flex: 1;
  margin-right: 20px;
}

.large-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  max-height: 700px;
}

.product-details {
  flex: 2;
  margin-right: 20px;
}
.product-head {
  font-family: "Inika", serif;
  font-weight: 400;
  font-size: 16.04px;
  line-height: 19.87px;
  letter-spacing: 0%;
  color: #1f8394;
}
.product-details p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30.97px;
  letter-spacing: 0%;
}
.rating-container {
  display: flex;
  align-items: center;
}
.product-paragraph {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16.04px;
  line-height: 19.87px;
  letter-spacing: 0%;
  color: #1f8394;
  margin-left: 10px;
}

.price-container {
  position: relative;
  display: inline-block;
}

.currency {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 15px;
  color: #000000;
}
.currency-r {
  position: absolute;
  top: -14px;
  right: 0;
  font-size: 12px;
  color: #000000;
}
.price {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 22.59px;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 0px;
  margin-left: 20px;
  text-align: center;
}
.price-paragraph {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 18.24px;
  line-height: 22.59px;
  letter-spacing: 0%;
  color: #000000;
  margin-bottom: 0px;
}

.rating-text {
  margin-right: 8px;
  width: 23;
  height: 21;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 21.8px;
  line-height: 20.84px;
  letter-spacing: 0%;
  text-align: center;
  color: #000000;
}
.rating-container p {
  margin-top: 20px;
}
.discount-container {
  display: flex;
  margin-top: 1px;
  flex-direction: row;
}
.discount-p1 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 13.99px;
  line-height: 17.33px;
  letter-spacing: 0%;
  color: #5c5c5c;
}
.discount-p2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 17.23px;
  line-height: 21.34px;
  letter-spacing: 0%;
  color: #000000;
}
.discount-h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 17.25px;
  line-height: 21.37px;
  letter-spacing: 0%;
  color: #000000;
}
.pay-details {
  display: flex;
}
.pay-first {
  width: 130px;
  height: 100px;
  gap: 8.33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.pay-first h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 15.66px;
  line-height: 19.4px;
  letter-spacing: 0%;
  text-align: center;
  color: #1f8394;
}
.pay-first img {
  align-items: center;
  height: 40px;
  width: 40;
}
.About-item h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 16.92px;
  line-height: 20.96px;
  letter-spacing: 0%;
}
.About-item ul li {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 16.92px;
  line-height: 20.96px;
  justify-content: left;
}
.add-to-cart-card {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 270px;
  height: 650px;
  padding: 15px 17.91px;
  border-radius: 4.48px;
  border-width: 0.9px;
  border: 0.9px solid #000000;
}

.add-to-cart-card h3 {
  margin: 0;
}

.details {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 15.56px;
  line-height: 19.28px;
  letter-spacing: 0%;
  color: #1f8394;
  margin: 0px;
}

.Location {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.location-icon {
  width: 18px;
  height: 21px;
  margin-right: 8px;
}
.quantity-selector {
  display: flex;
  flex-direction: column;
  gap: 9.4px;
  margin-top: 14px;
}

.quantity-dropdown {
  width: 100%;
  height: 34.16px;
  padding: 6.58px 10.34px;
  border-radius: 4.7px;
  border-width: 0.94px;
  background: #f0f2f2;
  border: 0.94px solid #c6c6c6;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 15px;
}
.button-cart {
  width: 100%;
  height: 40px;
  gap: 9.15px;
  padding: 10px 57px 25px 57px;
  border-radius: 18.29px;
  margin-bottom: 10px;
  margin-top: 15px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16.78px;
  line-height: 20.79px;
  letter-spacing: 0%;
  border: none;
  background-color: #f0f2f2;
  cursor: pointer;
}

.add-to-cart-card button:hover {
  background-color: #c7dffa;
}
.ship-owner {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14.99px;
  line-height: 18.57px;
  letter-spacing: 0%;
  color: #717171;
  margin: 0px;
  margin-top: 5px;
}
.Addtolist {
  width: 100%;
  height: 32px;
  gap: 8.96px;
  padding-top: 6.27px;
  padding-right: 9.85px;
  padding-bottom: 6.27px;
  padding-left: 9.85px;
  border-radius: 8.96px;
  border-width: 0.45px;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
}
.reviews-section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.rate-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 395.162841796875px;
  height: 303.07666015625px;
  gap: 25.08px;
}
.rate-container h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 20.99px;
  line-height: 26px;
  letter-spacing: 0%;
}
.rate {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ratingtext {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 400;
  font-size: 20.1px;
  line-height: 30.11px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 30px;
  margin-left: 5px;
}
.rating-summary {
  margin-top: 0px;
  width: fit-content;
  height: 400px;
}
.rating-summary h2 {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 400;
  font-size: 20.1px;
  line-height: 30.11px;
  letter-spacing: 0%;
  color: #5c5c5c;
}

.star-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: fit-content;
}

.progress-bar-container {
  flex-grow: 1;
  border-radius: 5px;
  height: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  border: 0.86px solid #000000;
  width: 236.0600128173828px;
  height: 25.949159622192383px;
  border-width: 0.86px;
}

.progress-bar {
  background-color: #ffd700;
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s;
}

.comments-section {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.comment {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0px 5px #ccc; /* Simple shadow effect */
  padding: 1rem;
  border-radius: 0.5rem;
}

.comment-date {
  font-size: 12px;
  color: #777;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16.52px;
}

.comment-name {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--balck);
  margin-bottom: 0px;
}
.rate-comment h3 {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 700;
  font-size: 22.14px;
  line-height: 33.16px;
  letter-spacing: 0%;
  margin-left: 5px;
  margin-top: 15px;
}
.comment-date {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 16.52px;
  line-height: 20px;
  letter-spacing: 0%;
}
.verfied {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16.52px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #de7921;
}
.comment-content {
  width: 831.830810546875px;
  height: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16.52px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000000;
  width: fit-content;
}
.report {
  font-family: "Hind Vadodara", sans-serif;
  font-weight: 400;
  font-size: 17.97px;
  line-height: 100%;
  letter-spacing: 0%;
  width: fit-content;
}
@media (max-width: 768px) {
  .product-section {
    flex-direction: column;
    align-items: center;
  }
  .discount-container {
    flex-direction: column;
  }

  .small-image-container {
    margin-top: 20px;
    margin-right: 0;
    order:2;
    flex-direction: row;
  }

  .product-image {
    margin-right: 0;
    margin-bottom: 20px;
    order: 1;
  }
  .rating-container {
    flex-direction: column;
  }

  .large-image {
    max-width: 100%;
    height: auto;
  }

  .product-details {
    flex: 1;
    margin-right: 0;
    text-align: center;
    order: 3;
  }

  .add-to-cart-card {
    width: 100%;
    height: auto;
    order: 4;
  }

  .quantity-dropdown {
    width: 100%;
  }

  .button-cart {
    width: 100%;
  }

  .reviews-section {
    flex-direction: column;
    align-items: center;
    padding: 0px 1rem;
  }

  .rate-container {
    width: 100%;
  }

  .comments-section {
    margin-left: 0;
    width: 100%;
    margin-top: 130px;
  }

  .comment {
    width: 100%;
  }

  .rate {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
  }
  .pay-details {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .product-head {
    font-size: 14px;
  }

  .product-details p {
    font-size: 18px;
  }

  .rating-text {
    font-size: 18px;
  }

  .discount-p1,
  .discount-p2,
  .discount-h2 {
    font-size: 14px;
  }
  .discount-container {
    flex-direction: column;
  }

  .add-to-cart-card {
    padding: 10px;
  }

  .ship-owner {
    font-size: 12px;
  }

  .Addtolist {
    width: 100%;
  }
}
