<div class="row">
  <ul>
    <li><a href="#">
      <span>AbeBooks</span>
      <span>
        Books, art
        & collectibles
      </span>
    </a></li>
    <li><a href="#">
      <span>Amazon web Services</span>
      <span>
        Scalable Cloud
        Computing Services
      </span>
    </a></li>
    <li><a href="#">
      <span>Audible</span>
      <span>
        Download
        Audio Books
      </span>
    </a></li>
    <li><a href="#">
      <span>IMDb</span>
      <span>
        Movies, TV
        & Celebrities
      </span>
    </a></li>
  </ul>
  <ul>
    <li><a href="#">
      <span>Shop bop</span>
      <span>
        Designer
        Fashion Brands
      </span>
    </a></li>
    <li><a href="#">
      <span>Amazon Business</span>
      <span>
        Everything For
        Your Business
      </span>
    </a></li>
    <li><a href="#">
      <span>Prime Now</span>
      <span>
        2-Hour Delivery
        on Everyday Items
      </span>
    </a></li>
    <li><a href="#">
      <span>Amazon Prime Music</span>
      <span>
        100 million sings, ad-free
        Over 15 million podcast episodes
      </span>
    </a></li>
  </ul>
  <ul>
    <li><a href="#">Conditons of Use & Sale</a></li>
    <li><a href="#">Privacy Notice</a></li>
    <li><a href="#">Interset-Based Ads</a></li>
  </ul>
  <span>1996-2024, Amazon.com, Inc. or its affiliates </span>
</div>
