<div class="col" id="lanuguage">
  <div class="info">
    <img src="/assets/images/Egypt.svg" alt="">
    <span>EN</span>
  </div>
  <form action="">
    <div class="ar">
      <label for="ar">
        <input type="radio" name="lanuguage" id="ar">
        العربيه-AR
      </label>
    </div>
    <div class="en">
      <label for="en">
        <input type="radio" name="lanuguage" id="en" checked>
        English-EN
      </label>
    </div>
  </form>
</div>
<div class="col" id="login">
  <span *ngIf="!userName">Hello, sign in</span>
  <span *ngIf="!userName">Account & Lists</span>
  <span *ngIf="userName">Welcome, {{ userName }}!</span>
  <div class="signin" *ngIf="!userName">
    <button routerLink="/Login">Sign in</button>
  </div>
</div>
<div class="col" id="ReturnsOrders" >
  <a *ngIf="userName" (click)="logout()">logout</a>
  <a *ngIf="!userName" routerLink="/cart">order</a>
</div>
<div class="col" id="Cart" routerLink="/cart" >
    <img src="/assets/images/cart.svg" alt="">
    <span class="counter">{{counter}}</span>
    <span class="name">Cart</span>
</div>
