/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
:root {
  --DarkBlue:#131921;
  --BLue:#232F3E;
  --Blue2:#37475A;
  --Blue3:#1F8394;
  --white:white;
  --Gold:#febd69;
  --orange:#f08804;
  --yellow:#FFD814;
  --Gray:#676767;
  --Gray2:#D9D9D9;
  --Gray3:#575757;
  --black:#212121;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
