<div class="col" id="logo">
  <img src="/assets/images/Amazon.svg" alt="" [routerLink]="['/']">
</div>
<div class="col" id="location">
  <fa-icon [icon]="faLocationDot"></fa-icon>
  <div class="info">
    <span >Deliver to</span>
    <span>Egypt</span>
  </div>
</div>
<div class="loginandcart">
  <div class="col" id="login">
    <a href="#">
      Sign In
      <fa-icon [icon]="faAngleRight"></fa-icon>
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
  </div>
  <div class="col" id="Cart">
    <img src="/assets/images/cart.svg" alt="">
    <span class="counter">{{counter}}</span>
    <span class="name">Cart</span>
  </div>
</div>
