#logo {
  width: fit-content;
}

#logo img {
  width: 6rem;
  cursor: pointer;
}

.loginandcart {
  display: none;
  align-items: center;
  width: fit-content;
}

.loginandcart > #login {
  flex: 0.2;
}

.loginandcart > #login a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.loginandcart > #login a fa-icon:first-of-type {
  font-size: 0.7rem;
  margin: 0px 0.2rem;
}

.loginandcart > #login a fa-icon:last-of-type {
  font-size: 1.4rem;
}

#location {
  display: flex;
  align-items: flex-end;
  gap:0.4rem;
  cursor: pointer;
}

#location fa-icon {
  font-size: 1rem;
}

#location .info {
  display: flex;
  flex-direction: column;
  line-height: 0.9rem;
}

#location .info span:first-of-type {
  font-size: 0.8rem;
  font-weight: 300;
}

#location .info span:last-of-type {
  font-weight: 600;
}

#Cart {
  position: relative;
  display: flex;
  align-items: flex-end;
}

#Cart img {
  width: 2.1rem;
  height: 2.1rem;
}

#Cart .counter {
  position: absolute;
  top: -5px;
  left: 19%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--orange);
  width: 32%;
  text-align: center;
}

#Cart .name {
  font-size: 0.9rem;
  font-weight: 700;
}

@media (max-width:900px) {
  #location {
    display: none;
  }
  #Cart .counter {
    left: 14px;
  }
  .loginandcart {
    display: flex;
  }
}

@media (max-width:962px) {
  #Cart .counter {
    left: 7px;
    top: -8px;
  }
  #Cart img {
    width:1.8rem ;
    height:1.8rem ;
  }
  .loginandcart a {
    font-size: 0.8rem;
  }
  .loginandcart a fa-icon:last-of-type {
    font-size: 1rem !important;
  }
  #login {
    min-width: 5rem;
  }
}
